.dplayer-hotkey-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    width: #{"clamp(200px, 80%, 800px)"};
    overflow: hidden;
    background: rgba(28, 28, 28, 0.8);
    padding: 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;

    &-hide {
        display: none;
    }

    .dplayer-hotkey-panel-close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .dplayer-hotkey-panel-item {
            display: inline-block;
            vertical-align: middle;
            line-height: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

    }
    .simple-keyboard {
        color:black;
        width: unset;
        margin: 20px;
    }
}


@import 'simple-keyboard/build/css/index.css';
