.dplayer-menu {
    position: absolute;
    border-radius: 2px;
    background: var(--dplayer-menu-bk);
    padding: 5px 0;
    overflow: hidden;
    z-index: 3;
    display: none;
    &.dplayer-menu-show {
        display: block;
    }
    .dplayer-menu-item {
        height: 30px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
            background-color: var(--dplayer-menu-item-hover);
        }
        a {
            display: inline-block;
            padding: 0 10px;
            line-height: 30px;
            color: var(--dplayer-menu-a-color);
            font-size: 13px;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            box-sizing: border-box;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
