//TODO :not(.dplayer-hide-controller){} and hide that things respectively
.dplayer-notice-list{
    position: absolute;
    bottom: 60px;
    left: 20px;

    .dplayer-notice {
        border-radius: 2px;
        background:var(--dplayer-notice-bk);
        transition: all .3s ease-in-out;
        overflow: hidden;
        color:var(--dplayer-notice-text);
        display: table;
        pointer-events: none;
        animation: showNotice .3s ease 1 forwards;
        &.dont_animate{
            animation: showNotice 0s ease 1 forwards;
        }
    }

    .remove-notice{
        animation: removeNotice .3s ease 1 forwards !important;
    }
}

.dplayer-skip-window{
    position: absolute;
    top: 60px;
    right: 40px;

    border-radius: 2px;
    background:var(--dplayer-notice-bk);
    transition: all .3s ease-in-out;
    overflow: hidden;
    color:var(--dplayer-notice-text);
    display: grid;
    
    width: 200px;
    height: 75px;

    grid-template-columns: 40% 70%;
    grid-template-rows: 50% 50%;
    padding: 10px;

    justify-content: center;
    justify-items: center;
    align-items: center;

    .title{
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .skip{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .circle {
        position: absolute;
        grid-row: 1/3;
        grid-column: 1/2;
        aspect-ratio: 1;
        width: 60%;
    }
    //http://jsfiddle.net/PatTastic/nzf0m83j/

}


@keyframes showNotice {
    from {
        padding: 0;
        font-size: 0;
        margin-top: 0;
    }
    to {
        padding: 7px 20px;
        font-size: 14px;
        margin-top: 5px;
    }
}

@keyframes removeNotice {
    0%{
        padding: 7px 20px;
        font-size: 14px;
        margin-top: 5px;
    }
    20%{
        font-size: 12px;
    }
    21%{
        font-size: 0;
        padding: 7px 10px;
    }
    100%{
        padding: 0;
        margin-top: 0;
        font-size: 0;
    }
}

