.dplayer-subtitle {
    position: absolute;
    bottom: 40px;
    width: 90%;
    left: 5%;
    text-align: center;
    color: var(--dplayer-subtitle-text-color);
    text-shadow: 0.5px 0.5px 0.5px var(--dplayer-subtitle-box-sh);
    font-size: 20px;
    &.dplayer-subtitle-hide {
        display: none;
    }
}
